
p {
  color: rgba(45, 41, 41, 0.9);
  font-family: verdana;
  font-size: 300%;
   padding-top: 2em;
   line-height: 0.5em;
   position:relative; left: 45px; top: 60px;
   font-weight: bold;
}

body{
  background-color: rgb(219, 143, 96);
}

img {
  margin-left: auto;
  display: block;
  width: 600px;
  height: auto;
 }