body {
  margin: 0;
  background-color: rgb(219, 143, 96);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 68px;
  width: 20%;
  margin: auto;
  font-family: Verdana;
  font-weight: bold;
}

.image {
  height: 100vh;
}

